{% extends 'Daystarapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<br>
<div class="container" style="min-height: 300px;">
    <div class="row">
       <div class="col-md-4" style="width: 100%;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ adminlogform.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
       </div>
    </div>
</div>
{% endblock %}