{% extends 'Daystarapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<br>
<div class="container" style="min-height: 500px;">
    <div class="row">
       <div class="col-md-4" style="width: 100%;">
            <form method="post">
              {% csrf_token %}
              {% for message in messages %}
              <p id="messages">{{ message }}</p>
              {% endfor %}
              {{ adminlogform.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
       </div>
    </div>
</div>
{% endblock %}