{% extends 'Daystarapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container" style="min-height: 500px;">
    <div class="row">
       <div class="col-md-6">
        <div class="container" style="min-height: 400px;">
            <form method="post">
                {% csrf_token %}
                {{ Getadminloginform | crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
       </div>
       <div class="col-md-4">
         <div class="womanwork">
           <img src="{% static 'img/woman-working-big-data-tech-600nw-2015415110.webp' %}">
         </div>
     </div>
    </div>
 </div>
{% endblock %}