{% extends 'Daystarapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title%}HOME{% endblock %}

{% block content%}
<br>
<div class="container" style="min-height: 500px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ assignform.as_p }}
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
</div>
{% endblock %}