{% extends 'Daystarapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title%}HOME{% endblock %}

{% block content%}
<br>
<div class="container" style="min-height: 500px;">
  <div style="overflow-x: auto;">
    <table style="width: 100%; background-color: white;">
        <tr>
            <th>NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>PARENT</th>
            <th>DROPPER</th>
            <th>TIME IN</th>
            <th>PERIOD OF STAY</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {% for kids in babies %}
        <tr>
            <td>{{kids.babyname}}</td>
            <td>{{kids.babyage}}</td>
            <td>{{kids.baby_gender}}</td>
            <td>{{kids.babyparent}}</td>
            <td>{{kids.dropper}}</td>
            <td>{{kids.timein}}</td>
            <td>{{kids.period_of_stay}}</td>
            <td><a href="/editbabyview/{{kids.id}}"><button type="submit" class="edbutton">EDIT</button></a></td>
            <td><a href="/deletebabyview/{{kids.id}}"><button type="submit"  style="background-color: rgb(214, 6, 48);">DELETE</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
  </div>
</div>
{% endblock %}