{% extends 'Daystarapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title%}HOME{% endblock %}

{% block content %}
  <div class="container" style="min-height: 400px; text-align:center;">
      <h1 style="text-align: center;">WELCOME TO DAYSTAR DAYCARE</h1>
    <div style="overflow-x: auto;">
      <div class="row">
          <div class="col-md-12" >
            <div class="indimg" style=" display:grid; max-width: 100%; grid-template-columns: repeat(3, 1fr); gap: 5px;">
              <img src="{% static 'img/blackcut.jpg' %}" style="float: left; height: 350px;">
              <img src="{% static 'img/day star logo.jpg' %}" style=" display: block; margin-left: auto; margin-right: auto;">
              <img src="{% static 'img/baby hands.jpg' %}" style="float: right; height: 350px;">
            </div>
          </div>
      </div>
      <div class="indexbutton" style="margin: 0 auto; text-align: center; display: block;">
        <a href="adminlog/"><button type="submit">Login</button></a> | <a href="adminreg/"><button type="submit">Register</button></a>
      </div>
    </div>
  </div>
{% endblock %}