{% extends 'Daystarapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title%}HOME{% endblock %}

{% block content %}
  <div class="container" style="min-height: 400px;">
      <div class="row">
          <div class="col-md-5" style="border: 1px solid red;">
            <div class="indimg">
              <img src="{% static 'img/day star logo.jpg' %}" style="width: 100%; border-radius: 20px;">
            </div>
          </div>
          <div class="col-md-5" style="border: 1px solid red;">
            <div class="indexcont" style="float: right;">
              <h1>WELCOME TO DAYSTAR DAYCARE</h1>
              <p>
                Hello dear Administrator, welcome to the Daystar daycare management web app. It is designed to ease data collection and analysis so its easy to loacte as well as input data.<br>
                You can find what you require here, from registration of staff and babies to inventory. All to help ease your monitoring of data.
                Please enjoy and thanks for choosing Daystar Daycare
              </p>
              <div class="indexbutton">
                <a href="adminlog/"><button type="submit">Login</button></a> | <a href="adminreg/"><button type="submit">Register</button></a>
              </div>
            </div>
          </div>  
      </div>
  </div>
{% endblock %}