
{% extends "Daystarapp/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
  HOME
{% endblock %} 


{% block content %}
<br>
<div class="container" style="min-height: 500px;">
  <div style="overflow-x: auto;">
    <table style="width: 100%;">
        <tr>
          <th>PROCUREMENT ITEM</th>
          <th>QUANTITY</th>  
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
        {% for sits in prototal %}
        <tr>
            <td>{{sits.pitems}}</td>
            <td>{{sits.amount}}</td>
            <td><a href="/editproview/{{sits.id}}"><button type="submit" class="edbutton">EDIT</button></a></td>
            <td><a href="/deleteproview/{{sits.id}}"><button type="submit"  style="background-color: rgb(214, 6, 48);">DELETE</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
  </div>
</div>
{% endblock %}