{% extends "Daystarapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
SITTER RECORDS
{% endblock %}


{% block content %}
<br>
<div class="container" style="min-height: 500px;">
  <div style="overflow-x: auto;">
    <table style="width: 100%;">
      <tr>
            <th>NAME</th>
            <th>DATE OF BIRTH</th>
            <th>GENDER</th>
            <th>REFERENCE NAME</th>
            <th>RELIGION</th>
            <th>LEVEL OF EDUCATION</th>
            <th>EDIT</th>
            <th>DELETE</th>
      </tr>
        {% for sits in sitters %}
      <tr>
            <td>{{sits.sittername}}</td>
            <td>{{sits.sitterbirth}}</td>
            <td>{{sits.sitter_gender}}</td>
            <td>{{sits.sitterreco}}</td>
            <td>{{sits.sitterreligion}}</td>
            <td>{{sits.sittereduc}}</td>
            <td><a href="/editsitterview/{{sits.id}}"><button type="submit">EDIT</button></a></td>
            <td><a href="/deletesitterview/{{sits.id}}"><button type="submit">DELETE</button></a></td>
      </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}